@import "lib/govuk-frontend/govuk/base";
@import "moj-frontend.min.css";
@import "post-pagination";
@import "search-pagination";
@import "search-and-filter";

.govuk-back-link {
  margin: 0 !important;
}

main.govuk-main-wrapper {
  padding-top: 30px !important;
}

.govuk-warning-text__icon.info{
  font-weight: 700;
  min-width: 25px;
  min-height: 25px;
  line-height: 19px;
  font-size: 20px;
  margin-top: 0px;
}

#multi-select-table .govuk-table__cell div.govuk-checkboxes{
  margin-top: -7px;
}

.govuk-heading-xl {
  margin-bottom: 35px !important;
}

.govuk-panel__bodys{

  overflow-wrap: break-word;
}

#search-filter-wrapper .govuk-form-group {
  margin-bottom: 10px;
}

div.scrollable-table-container {
  max-height: 300px;
  overflow-y: auto;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  &.scrollable-table-container:focus {
    outline: 4px solid $govuk-focus-colour
  }

  table {
    th, td {
      &:first-child {
        padding: 5px;
      }
    }

    thead {

      tr {
        border-top: 3px solid lightgray;
        border-bottom: 3px solid lightgray;
      }
    }

    width: 100%;

  }
}
