@import "lib/govuk-frontend/govuk/base";
@import "moj-frontend.min.css";

.govuk-back-link {
  margin: 0 !important;
}

main.govuk-main-wrapper {
  padding-top: 30px !important;
}

.govuk-heading-xl {
  margin-bottom: 35px !important;
}

#search-filter-wrapper .govuk-form-group {
  margin-bottom: 10px;
}

div.scrollable-table-container {
  max-height: 300px;
  overflow-y: auto;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  &.scrollable-table-container:focus {
    outline: 4px solid $govuk-focus-colour
  }

  table {
    th, td {
      &:first-child {
        padding: 5px;
      }
    }

    thead {

      tr {
        border-top: 3px solid lightgray;
        border-bottom: 3px solid lightgray;
      }
    }

    width: 100%;

  }
}


#search-no-filter {
  padding-top: 29px;
}

#search-with-filter {
  padding-top: 4px;
}

body.js-enabled p#member-count-text-non-js {
  display: none;
}

body:not(.js-enabled) p#member-count-text {
  display: none;
}

body:not(.js-enabled) p#member-count-text-non-js.hide-me {
  display: none;
}

fieldset#search-and-filter {
  #filter-box-wrapper {
    &.pad-top-1 {
      padding-top: 12px;
    }

    &.pad-top-2 {
      padding-top: 25px;
    }
  }

  #button-wrapper {
    &.pad-top-1 {
      padding-top: 30px;
    }

    &.pad-top-2 {
      padding-top: 54px;
    }
  }
}

/* Search pagination START */

@media (min-width: 48.0625em) {
  nav.pagination-nav {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 0;
    /* text-align: justify; */
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
}

.pagination_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 48.0625em) {
  .pagination_list {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

@media (min-width: 48.0625em) {
  nav.pagination-nav__results {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.pagination_item {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  margin-left: 10px;

  span.current-page {
    display: block;
    padding: 0.263em;
    text-align: center;
    text-decoration: none;
    min-width: 1.3em;
    font-weight: 700;
    outline: 1px solid rgba(0, 0, 0, 0);
    background-color: #1d70b8;
    color: white;
  }

  a.pagination_link, .submit-as-link {
    &:hover {
      background-color: #f3f2f1;
    }
  }

}

a.pagination_link, .submit-as-link {
  padding: 0.263em;
  background: none;
  border: none;
  color: #1a0dab;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #1a0dab;
    text-decoration-thickness: 3px;
  }

  &:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }
}

@media print {
  .pagination_item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .pagination_item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .pagination_item {
    font-size: 14pt;
    line-height: 1.15;
  }
}


.govuk-pagination__item.govuk-pagination__item--current {
  color: white;
}


/* Search pagination END */
.govuk-pagination__item{
  &:hover{
    button.pagination__link{
        text-decoration-thickness: 3px;
    }
  }
  button.pagination__link{
    padding: 0.263em;
    background: none;
    border: none;
    color: #1a0dab;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
    margin: 0;
    font-size: 19px;
    &:hover{
      text-decoration-thickness: 3px;
    }
  }
}
