#search-no-filter {
  padding-top: 29px;
}

#search-with-filter {
  padding-top: 4px;
}

body.js-enabled p#member-count-text-non-js {
  display: none;
}

body:not(.js-enabled) p#member-count-text {
  display: none;
}

body:not(.js-enabled) p#member-count-text-non-js.hide-me {
  display: none;
}

fieldset#search-and-filter {
  #filter-box-wrapper {
    &.pad-top-1 {
      padding-top: 12px;
    }

    &.pad-top-2 {
      padding-top: 25px;
    }
  }

  #button-wrapper {
    &.pad-top-1 {
      padding-top: 30px;
    }

    &.pad-top-2 {
      padding-top: 54px;
    }
  }
}